$font-color: #ffffff;

.category{
    &-wrapper{
        position: relative;
    }
    &-title{
        margin-top: 2%;
        margin-bottom: 1%;      
        font-size: 60px;
        color: $font-color;
    }
    &-question{
        margin-top: 15%;
        margin-bottom: 4%;
        font-size: 24px;
        color: $font-color;
    }
    &-hr{
        margin-bottom: 4%;
        width: 40%;
    }
    &-input{
        width: 31%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    &-submit{
        width: 6%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}